/* footer样式 */
.github-badge {
  margin-left: 5px;
  display: inline-block;
  border-radius: 4px;
  text-shadow: none;
  color: #fff;
  line-height: 15px;
  background-color: #ABBAC3;
  margin-bottom: 5px;
}

.github-badge .badge-subject {
  display: inline-block;
  background-color: #4D4D4D;
  padding: 4px 4px 4px 6px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.github-badge .badge-value {
  display: inline-block;
  padding: 4px 6px 4px 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.github-badge .bg-blue {
  background-color: #007EC6;
}

.github-badge .bg-brightgreen {
  background-color: #4DC820;
}

.github-badge .bg-orange {
  background-color: #FFA500;
}

.github-badge .bg-blue {
  background-color: #007EC6;
}

.github-badge .bg-lightgray {
  background-color: #9f9f9f;
}

.github-badge .bg-gradient {
  background: linear-gradient(to right, #3ca5f6, #a86af9);
}

// 打字机效果
#typedFont {
  display: inline;
}
// 头像红心
#myheartbeat {
  color: red;
}
// 主页底部去掉颜色
#footer {
  background: unset
}

// 修改主页底部字体颜色
#customFooterDiv {
  color: $theme-footer-font-color
}

// 修改主页底部超链接样式
#customFooterDiv a{
  color: $theme-link-color
}

// 分页圆角
#pagination .page-number.current {
  border-radius : 50%;
}

// 修改友链样式
.flink-list-item {
  border: 1px solid #ececec;
}
.flink#article-container .flink-list {
  padding: 10px 0 0 0;
}
.flink#article-container .flink-list > .flink-list-item {
  margin: 7px 10px 7px 0px;
  height: unset;
  padding: 10px 25px;
}
.flink#article-container .flink-list > .flink-list-item a img {
  float: right;
  width: 65px;
  height: 65px;
  margin: 1px;
  margin-top: 13px;
  padding-right : 0px;
  box-shadow: inset 0 0 2px #000;
}
.flink#article-container .flink-list > .flink-list-item a .flink-item-name {
  font-size: 18px;
  color: orange;
  padding: 15px 0 0 0;
  height: 45px;
  display: block;
  transition: all .3s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align : left;
}
.flink#article-container .flink-list > .flink-list-item a .flink-item-desc {
  color: #949494;
  font-size: 15px;
  padding: 10px 0 0 0;
  border-top: 1px dashed #ddd;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 25px;
  transition: all .5s;
  text-align : left;
}
.flink#article-container .flink-list > .flink-list-item:before {
  background :aliceblue
}
.flink-desc {
  border-radius: 3px;
  font-size:19px;
  padding: 15px;
  border-left: 3px solid #428bca;
}
.flink#article-container .flink-desc {
  margin: 2rem 0 0.5rem;
}
.flink-desc:nth-child(1){
  background-color: #eef7fa;
}
.flink-desc:nth-child(3){
  border-left: 3px solid #6f42c1;
  background-color: #f5f0fa;
}
.flink-desc:nth-child(5){
  border-left: 3px solid #f0ad4e;
  background-color: #fdf8ea;
}

// 隐藏首页中间的内容
#page-header.full_page #site-info {
  display : none;
}
// 首页左上角字体样式
#nav #site-name {
  font-style: italic;
  font-family: monospace;
  color: #ff9900;
}
//#nav.visible {
//  background: #1A1A1A;
//}
//#nav.fixed a, #nav.fixed #site-name, #nav.fixed .toggle-menu {
//  color: #FAFAFA;
//}

// 右上角图标颜色
//.fa-fw {
//  color: #22B8DD;
//}

//个人信息卡样式
#aside_content .author-info__name {
  font-family : cursive,Noto Serif SC,sans-serif;
  font-weight : bolder;
}
#aside_content .author-info__description {
  font-family : cursive,Noto Serif SC,sans-serif;
  font-size : 13px;
}

// 全局鼠标样式
body {
  cursor: url(https://cdn.jsdelivr.net/gh/XuxuGood/cdn@master/blogImages/site-img/normal.cur), auto
}
a , img{
  cursor: url(https://cdn.jsdelivr.net/gh/XuxuGood/cdn@master/blogImages/site-img/ayuda.cur), auto
}
p {
  cursor: url(https://cdn.jsdelivr.net/gh/XuxuGood/cdn@master/blogImages/site-img/texto.cur), auto
}

// 基础页头图字体
#page-header #site_title {
  font-family: Serif;
}
// 文章卡片大小
#recent-posts > .recent-post-item {
  height : 16em;
}

// 公告高度修改
.announcement_content {
  height: 55px;
}
/*头像hover*/
.card-info-avatar {
  background: url(https://ae01.alicdn.com/kf/H3342af90d24b4d62b9bbfec9688ccc25M.gif)
}
