<!--自定义footer样式-->
<div id="customFooterDiv">
    Copyright <i class="far fa-copyright"></i> 2020
    <a href="/" target="_blank"> BIAO'S BLOG </a>丨
    <!-- 在网页底部添加网站运行时间 -->
    <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
</div>
<script>
    var now = new Date();

    function createtime() {
        var grt = new Date("08/17/2020 00:00:00");//此处修改你的建站时间或者网站上线时间
        now.setTime(now.getTime() + 250);
        days = (now - grt) / 1000 / 60 / 60 / 24;
        dnum = Math.floor(days);
        hours = (now - grt) / 1000 / 60 / 60 - (24 * dnum);
        hnum = Math.floor(hours);
        if (String(hnum).length == 1) {
            hnum = "0" + hnum;
        }
        minutes = (now - grt) / 1000 / 60 - (24 * 60 * dnum) - (60 * hnum);
        mnum = Math.floor(minutes);
        if (String(mnum).length == 1) {
            mnum = "0" + mnum;
        }
        seconds = (now - grt) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
        snum = Math.round(seconds);
        if (String(snum).length == 1) {
            snum = "0" + snum;
        }
        document.getElementById("timeDate").innerHTML = "网站已运行 " + dnum + " 天 ";
        document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
    }

    setInterval("createtime()", 250);
</script>
<br/>
<div class="github-badge">
    <a style="color: #fff" rel="license" href="https://hexo.io/" target="_blank" title="由 Hexo 强力驱动">
        <span class="badge-subject">Powered</span><span class="badge-value bg-blue">Hexo</span></a>
</div>
<div class="github-badge">
    <a style="color: #fff" rel="license" href="https://www.aliyun.com/" target="_blank"
       title="托管于阿里云服务器">
        <span class="badge-subject">Hosted</span><span
                class="badge-value bg-brightgreen">Aliyun ECS</span></a>
</div>
<div class="github-badge">
    <a style="color: #fff" rel="license" href="https://www.aliyun.com/" target="_blank" title="阿里云提供域名相关服务">
        <span class="badge-subject">DNS</span><span class="badge-value bg-blueviolet">Aliyun</span></a>
</div>
<div class="github-badge">
    <a style="color: #fff" rel="license" href="https://www.jsdelivr.com/" target="_blank"
       title="jsDelivr 提供 CDN 加速服务">
        <span class="badge-subject">CDN</span><span class="badge-value bg-orange">jsDelivr</span></a>
</div>
<div class="github-badge">
    <a style="color: #fff" rel="license" href="https://github.com/jerryc127/hexo-theme-butterfly"
       target="_blank" title="站点使用 Butterfly 主题">
        <span class="badge-subject">Theme</span><span class="badge-value bg-blue">Butterfly</span></a>
</div>
<div class="github-badge">
    <a style="color: #fff" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
       target="_blank" title="本站点采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可">
        <span class="badge-subject"><i class="fa fa-copyright"></i></span><span
                class="badge-value bg-gradient">BY-NC-SA 4.0</span></a>
</div>
